    <div class="home">
        <div class="lista-vazia" *ngIf="users.length == 0">
            <div class="text-vazia">
                <h1 class="h1 animate__animated animate__animated animate__fadeInDownBig">Lista vazia 😔</h1>
                <p class="animate__animated animate__animated animate__fadeInUp">Adicione um usuário para começar</p>
            </div>
            <img class="animate__animated animate__zoomIn  animate__slow" src="assets/imgs/plant.svg" alt="imagem predio construcao" id="building">
        </div>
        <div class="cards" *ngIf="users.length > 0">
            <div class="card animate__animated animate__fadeIn"  *ngFor="let user of users">
                <img title="Este é seu usuário favorito." *ngIf="user.fav" id="star-gold" class="animate__animated animate__bounceIn" src="assets/icons/star-gold.svg" alt="star gold">
                <img title="Clique para favoritar este usuário" *ngIf="!user.fav" (click)="toggleStar(user)" src="assets/icons/star.svg" alt="usuário favorito" id="star">
                <img [src]="user.avatar_url" id="card-img" alt="avatar do usuário">
                <h1 id="card-name">{{ user.name }} </h1>
                <a target="_blank" id="link-card" [href]="user.html_url">visitar</a>
                <a id="btn-rmv" (click)="deleteUser(user)">Remover</a>
            </div>
        </div>
    </div>