.home {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
}

.lista-vazia {
    z-index: 4;
    height: 10vh;
    width: 80vw;
    margin-top: 30vh;
    margin-left: 10rem;
    font-family: var(--montserrat);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.text-vazia {
    color: #000;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--montserrat);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#building {
    border-radius:100%;
    width: 400px;
    height: 400px;
}

h1, p{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.h1{
    color: #fff;
    background-color: #000000a9;
    padding: 1rem;
    border-radius: 6px;
}

p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #d4d4d4;
    margin-top: 5vh;
}


.cards {
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5%;
    width: 100vw;
    height: 100vh;
}

.card{
    position: relative;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 60%;
    background-color: var(--cards-background-color);
    backdrop-filter: blur(6px);
    font-family: var(--montserrat);
    transition: all 0.1s ease-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.599);
    cursor: pointer;
    border-bottom:2px solid #00d0ff;
}


#card-img {
    border-top: 10px solid #2f2f2f;
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.599);
    width: 10rem;
    height: 10rem;
}

#star {
    z-index: 5;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    text-align: center;
    filter: invert(1);
    height: 2rem;
    opacity: 0.3;
    transition: .3s ease-in-out;

}

#star:hover {
    cursor: pointer;
    opacity: .9;
}

#star-gold {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    filter: invert(1);
    top: .6rem;
    right: .6rem;
}

#card-name {
    margin-top: 1vh;
    color: #aaaaaa;
    font-size: 1.3rem;
    height: 5vh;
}

#link-card {
    outline: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 6px;
    padding: 0.5rem;
    border:1px solid #fff;
}

#btn-rmv{
    margin-top: 2vh;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    color: #ff3a3a;
    font-size: .8rem;
    border-radius: 6px;
    padding: 0.5rem;
    border:1px solid #ff0000;
    opacity: 1;
}

#btn-rmv:hover, #link-card:hover{
    transition: .2s ease-in-out;
    cursor: pointer;
    opacity: .6;
}

@media (max-width: 1000px) {
    .lista-vazia {
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
        flex-direction: column-reverse;
        margin-top:50vh;
        margin-left: 2vh;
    }
    #building {
        height: 250px;
        width: 250px;
    }
    .text-vazia{
        font-size: 1.5rem;
    }
    .cards{
        padding-top: 15vh;
        justify-content: center;
        align-items: initial;
        height: 250vh;
        gap: 1rem;
    }
    .card {
        width: 90%;
        height: 75vh;
    }
    .card:hover{
        border: none;
    }
    .card:hover {
        transform: scale(1);
    }
}